html, body, html body>div, html body>div>div, .container {
  height: 100%;
}

html body div div div.indigo {
  height: 40%;
}

html body div div div.background {
  height: 100%;
  width: 100%;
  z-index: -10;
  position: absolute;;
  top: 0;
  left: 0;
}

html body div div div.container nav {
  background: none;
  box-shadow: none;
}

.card.large {
  height: auto;
}

.news .materialboxed, .news .material-placeholder {
  display: inline;
  margin: 5px;
}
